@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Navbar fixed top styles */
body {
  padding-top: 70px;
}
/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f8f8f8;
}
html body {
  font-family: 'Raleway', sans-serif;
}
html body footer.footer {
  padding: 15px 0 5px;
  text-align: right;
  border-top: 1px solid #e7e7e7;
}
html body .content-header {
  text-align: center;
}
html body .sidebar {
  position: absolute;
  float: left;
}
html body .row-bottom-margin {
  margin-bottom: 20px;
}
html body .btn-margin-top {
  margin-top: 10px;
}
html body .btn-default {
  background-color: #eee;
}
html body .rdo-block {
  margin-bottom: 30px;
}
html body #card-details-table tr td {
  padding: 5px;
}
html body .align-right {
  text-align: right;
  float: right;
  margin-right: 5px;
}
