@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Navbar fixed top styles */
body {
  padding-top: 70px;
}
/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
html body {
  font-family: 'Raleway', sans-serif;
}
html body .footer {
  padding: 15px 0 5px;
  text-align: right;
}
html body .content-header {
  text-align: center;
}
