// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Variables
//@import "less-addins/_variables";
// Add-in .less files
@import "less-addins/navbar-fixed-top";
@import "less-addins/sticky-footer";

html {
  body {
    font-family: 'Raleway', sans-serif;
    footer.footer {
      padding: 15px 0 5px;
      text-align: right;
      border-top: 1px solid #e7e7e7;
    }
    .content-header {
      text-align: center;
    }
    .row-bottom-margin {
      margin-bottom: 20px;
    }
    .btn-margin-top {
      margin-top: 10px;
      width: 170px;
    }
    .btn-default {
      background-color: #eee;
    }
    .rdo-block {
      margin-bottom: 30px;
    }
    #card-details-table {
      tr {
        td {
          padding: 5px;
        }
      }
    }
    .align-right {
      text-align: right;
      float: right;
      margin-right: 5px;
    }
    .statistics-container {
      border: solid 1px #eee;
      background-color: #f8f8f8;
      border-radius: 3px;
      padding: 0 0 25px;
      margin: 20px 0;
    }
    .big-checkbox {
      transform:scale(1.75, 1.75);
      margin: 0 5px;
    }
  }
}
