// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Variables
//@import "less-addins/_variables";
// Add-in .less files
@import "less-addins/navbar-fixed-top";
@import "less-addins/sticky-footer";
@import "less-addins/carousel";

html {
  body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    footer.footer {
      padding: 15px 0 5px;
      text-align: right;
      border-top: 1px solid #e7e7e7;
    }
    .content-header {
      text-align: center;
    }
    .row-bottom-margin {
      margin-bottom: 20px;
    }
    .btn-margin-top {
      margin-top: 10px;
      width: 170px;
    }
    .btn-margin-right {
      margin-right: 5px;
    }
    .btn-default {
      background-color: #eee;
    }
    .rdo-block {
      margin-bottom: 30px;
    }
    #card-details-table {
      tr {
        td {
          padding: 5px;
        }
      }
    }
    .align-right {
      text-align: right;
      float: right;
      margin-right: 5px;
    }
    .statistics-container {
      border: solid 1px #eee;
      background-color: #f8f8f8;
      border-radius: 3px;
      padding: 0 0 25px;
      margin: 20px 0;
    }
    .big-checkbox {
      transform:scale(1.75, 1.75);
      margin: 0 5px;
    }
    .smaller {
      font-size: smaller;
      margin-top: 15px;
    }
    .well {
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .well-welcome {
      min-height: 260px;
    }
    .well-margin-bottom {
      margin-bottom: 20px;
      padding-top: 15px;
      h2 {
        margin-top: 0;
      }
    }
    .well-reduce-padding {
      padding: 10px;
      .sm-text {
        font-size: smaller;
      }
    }
    .jcarousel-wrapper {
      margin: 0 auto;
      width: 100%;
      height: auto;
      border: none;
      .jcarousel {
        margin:0;
        width:100%;
        border: none;
        .well {
          margin: 0 5px;
        }
      }
    }
    .stripe-button-el {
      display: none;
    }
    .table-white-background {
      background-color: whitesmoke;
    }
    .table-top {
      margin: 0;
      /*border: none;
      border-radius: 10px 10px 0 0;*/
      th, td {
        width: 25%;
      }
    }
    .table-bottom {
      /*border: none;
      border-radius: 0 0 10px 10px;*/
      th, td {
        width: 12.5%;
      }
      .three-x-width {
        width: 37.5%;
      }
    }
  }
}
